/*Header*/

header{
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-image: url(../img/calle2.jpg);

        img{
            width: 100px;
            height: auto;
            filter: drop-shadow(5px 5px 10px rgba(255, 254, 254, 0.8));
        }
    }
    nav{
        background: radial-gradient(ellipse, rgb(194, 193, 193), rgb(53, 53, 53));

        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li{
                list-style-type: none;
                transition: all 0.3s ease-in-out;
                

                &:hover{
                    transform: scale(1.1);
                }
                &:active{
                    background-color: #605f5f; 
                    border: 2px solid rgb(54, 54, 54);
                }

                a{
                    text-decoration: none;
                    color: black;
                    text-shadow: 8px 2px 5px rgba(0,0,0,0.6);
                }
            }
        }
    }
}
/*Icono*/
.cart-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.4));
    
    &:hover{
        transform: scale(1.1);
    }


    a{
        i{
            color: rgb(255, 254, 254);
            border: 5px solid white;
            padding: 8px;
            border-radius: 20px
        }
    }
}