$color-principal: black;
$color-secundario: rgb(128, 128, 128);


/*Reset*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //border: 1px red solid;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

/*Logo*/
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse, rgb(128, 126, 126),black);
    padding: 15px;
    img{
        width: 100px;
        height: auto;
        transition: all 0.3s ease-in-out;
           }
    img:hover{
        transform: scale(1.1);
    }
}
/*Navegador*/
nav{

background: radial-gradient(ellipse, $color-secundario,$color-principal);
padding: 10px;
    

 ul{
    display: flex;
    justify-content: space-around;

        li{
           list-style-type: none;
           transition: all 0.3s ease-in-out;
           background: radial-gradient(ellipse, rgb(98, 97, 97),black);
           transition: all 0.7s ease; 
           opacity: 0.6;  
           &:hover{
               transform: scale(2.2);
           }
                a{
                    text-decoration: none;
                    color: white;
                    border: 1px solid black;
                    border-radius: 3px;
              
                  }
        }
    }
}

.cart-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    padding: 10px;
    border: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.4s ease, transform 0.3s ease;

    a{
        text-decoration: none;
        color: white;
    }
    
    i{
        font-size: 25px;
    }
    &:hover {
        background-color: #444; 
    }
}